.top-banner {
	background: #33465d;
	color: #fff;
	min-height: 20px;
	padding: 15px 0;
}

.top-banner__content {
	text-align: center;
	font-size: 16px;
	padding: 0 50px;
}

.top-banner__content--link {
	padding: 0 10px;
	width: 14px;
}

.top-banner__content--link.back-link img {
	transform: rotate(-180deg);
}

.top-banner__content p {
	display: inline-block;
	margin: 0 20px;
}

.top-banner .see-all-details {
	color: #fff;
	font-size: 12px;
	text-decoration: underline;
	margin-left: 30px;
}

.top-banner--close {
	float: right;
	margin: -16px 20px 2px 0;
	font-size: 16px;
	cursor: pointer;
	}

.head-list .header__drop-down-arrow {
	transform: rotate(90deg);
	height: 8px;
	width: 8px;
}

.signin-link {
		padding: 10px 15px;
	}

.head-ul .head-list {
	display: inline-block;
}

.head-ul .head-link {
	color: #333;
	text-decoration: none; 
}

.header-color {
	background-color: white;
}

.header-div {
  padding: 30px 60px 60px 60px;
	background: transparent;
}

.header__logo {
	width: 12%;
	float: left;
}

.header__logo img {
	width: 122px;
}

.header__menu {
	width: 88%;
	float: left;
  margin-top: 10px;
}

.header__menu-list {
	width: 80%;
	float: left;
	color: #33465d;
	text-align: center;
}

.header-navigation .header__menu-list {
	width: 75%;
}

.header__menu .header__menu-icons {
	width: 18%;
	float: left;
}

.header__menu-list--li {
	padding: 0 25px;
	font-size: 13px
}

.header-navigation .header__menu-list--li {
	padding: 0 34px;
}

.header__menu-icons--li {
	position: relative;
	padding: 0 6px;
	float: left;
	border-right: 1px solid #fff;
	margin: 0 0 0 10px;
	align-items: center;
}

.header__menu-icons--li:last-child {
	margin-right: 0;
	border-right: none;
}

.header__menu-icons--li-wrap {
	position: relative;
	font-size: 13px;
	align-items: center;
}

.header__menu-icons--li img {
	width: 20px;
}

.header__menu-icons--li img.cart-img {
	height: 18px;
}

.header__menu-icons--li .count {
	position: absolute;
	border-radius: 50%;
	padding: 1px 5px;
	background: #3370ff;
	font-size: 12px;
	color: #fff;
	top: 0;
	right: 0;
}

.header__menu-icons--item {
	padding: 0 5px;
}

.header__menu-icons .signin-link {
  margin-top: -10px;
}  

.header__menu-sign {
  display: inline-block;
  margin-top: 7px;
}
